* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.hero{
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

}

.products-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    

}

@media (max-width: 768px) {
    .products-grid {
        grid-template-columns: 1fr;
    }
}
.products-grid article {
    border : 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    min-height: 180px;
}
.products-grid article button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.products-grid button:hover {
    background-color: #ddd;
}
    
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #242;
    padding: 20px 40px;
}

nav ul{
    display: flex;
    gap: 30px;
    list-style: none;
}
nav a{
    text-decoration: none;
    color: azure;
}

nav a:hover{
    color:orange;
}

.card-btn{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
.hero-btn
{
 padding: 12px 25px;
 border: none;
 border-radius: 5px;
 cursor: pointer;
}

.hero-btn:hover {
    background-color: #ddd;
}
.card-btn:hover{
    background-color: #ddd;
}


h1 {
    margin-bottom: 20px;
}